<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="log4j.test" 
               status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!-- <File name="File" fileName="akademik.log">
        	<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File> -->
    </Appenders>
    
    <Loggers>
        <Logger name="log4j.test.Log4jTest" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
        
        <logger name="org.springframework" level="info">
		</logger>
	
		<logger name="org.hibernate" level="info">
		</logger>
        
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <!-- <AppenderRef ref="File"/> -->
        </Root>
    </Loggers>
</Configuration>